<div class="total">
  <div class="container">aze
<h3>A propos de nous.</h3>
  <p><span style=" font-variant: small-caps; color: #1D62F0;">Le Bantoum Exotique </span>
  , c'est : <br>
  * Un couple d'experts passionnés des domaines variés gustatifs et esthétiques ,
  spécialement actifs depuis près de 28 ans dans le service traiteur, la vente de produits alimentaires d'origine africaine
  , la vente de produits cosmétiques et la coiffure africaine.<br>
 * Une très belle histoire d’amour, doublée d’une passion gourmande pour les épices
  et d’un attachement humaniste profond au respect de l’environnement et de la vie au sens large.<br>
  Eh oui, nous sommes attachés à la santé humaine, celle de notre planète et encore plus à votre sourire,
  nous vous accueillerons dans un espace convivial...pour de nombreuses découvertes.</p>
    <h5>Tous les modes de payements sont disponibles chez nous.</h5>
    <div style="max-height: 500px;"><img
      width=80%
      height="500"
      alt="Magasin africain Arlon Bantoum Exotique"
      src="../assets/img/bantoumexotique.jpg"
    /></div>
    <h5> A très vite...pour un maximum de bonheur...</h5>
  </div>
</div>
