<div class="container-fluid" style="background-color: #1976d2; min-height: 70px; padding-bottom: 20px; padding-top: 20px;" >
<table style="width: 100%; text-align: left; margin-left: auto; margin-right: auto;" border="0" cellpadding="0" cellspacing="0">
  <tbody>
  <tr>
    <td style="background-color: #1976d2; text-align: center; vertical-align: top; color: rgb(255, 255, 255); font-weight: normal; font-size: 12pt;"><span style=" font-variant: small-caps;">Le Bantoum
 Exotique &#9474;</span><span style=" font-variant: small-caps;">&nbsp;</span><span style="font-variant: small-caps;"></span><span style=" font-variant: small-caps;">Ouvert
du Lundi au Samedi de 10 &agrave; 18h &amp; premier Dimanche du mois de 10
&agrave; 19h</span><span style=" font-variant: small-caps;">
&#9474; 35 grand-rue B-6700 Arlon<br>
Gsm&nbsp;:&nbsp;</span><span style=" font-variant: small-caps;">0032
(0)</span><span style=" font-variant: small-caps;">486
59 07 48 &#9474; E-mail&nbsp;: <a href="mailto:bantoumexotique@hotmail.fr" style="color: darkmagenta;">bantoumexotique@hotmail.fr</a>
&#9474;
n&deg; tva&nbsp;:
BE0651 624 323</span><span style=" font-variant: small-caps;">&nbsp;</span>
      <span style=" font-variant: small-caps;">©2020-2021 Le BANTOUM EXOTIQUE sprl - un lien entre l'Afrique et vous...</span></td>
  </tr>
  </tbody>
</table>
</div>
