
.ain-body {
  min-height: 800px;
  padding-top: 70px;
}
h2 {
  text-align: center;
  padding-top: 15px;
}
button {
  color: white; //#fff !important;
  //text-decoration: none;
  margin-top: 20px;
  background: green;// #ed3330;
  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  letter-spacing: 2px;
  // transition: all 0.4s ease 0s;
  max-height: 40px;
  text-align: center;
  width: 210px;
}
button:hover {
  background: lightgrey; // #434343;
  letter-spacing: 5px;
  color: black;
  width: 250px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
