

<div class="ain-body">
  <div class="container">
    <form  [formGroup]="signUpForm" (ngSubmit)="onSubmit()" action="" method="POST" >
      <input name="fuel_csrf_token" value="8b81c4dd84a3cf6aff4ec01bd87bb1077f068e96f6bd9f3b8a85e857eaa0bdae81d96e6238479fa87d6039f915dc040f2605e4e9627b0566de7d8ba91f242f46" type="hidden" id="form_fuel_csrf_token" />
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="form_name">Nom Complet: </label><br>
            <input class="form-control " formControlName="name" value="" type="text" id="form_name" />					</div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label for="form_email">Email:  </label><br>
            <input class="form-control" placeholder="Votre émail" type="email" formControlName="email" value="" id="form_email" />					</div>
        </div>
      </div>
      <div class="form-group">
        <label for="form_subject">Sujet:  </label><br>
        <input class="form-control" formControlName="subject" value="" type="text" id="form_subject" />			</div>
      <div class="form-group">
        <label for="form_message">Message:  </label>
        <textarea class="form-control" rows="8" formControlName="message" id="form_message"></textarea>			</div>
      <!-- <div class="form-group">
         <div class="alert alert-danger alert-dismissible is-robot hidden" role="alert">
           <strong><span class="editableLabel" labelid="global:verify_not_robot">Veuillez vérifier que vous n'êtes pas un robot.</span></strong>
         </div>
         <div class="g-recaptcha" data-sitekey="6Ld6_9MUAAAAAORcJDrqVDhnDbM52ychHIdFo-VJ"></div>
       </div>
       <div class="g-recaptcha" data-sitekey="6Ld6_9MUAAAAAORcJDrqVDhnDbM52ychHIdFo-VJ"></div>-->
      <re-captcha (resolved)="resolved($event)" siteKey="6Ld6_9MUAAAAAORcJDrqVDhnDbM52ychHIdFo-VJ"></re-captcha>
      <div class="form-group">
        <button type="submit" [disabled]="signUpForm.invalid">Envoyer le message</button>
      </div>
    </form>
  </div>
</div>


