<div class="ain-page-header">
  <div class="containe">
    <h3 style=" font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif ;">
      Nous contacter </h3>
  </div>
</div>
<div class="ain-body">
  <div class="" style="text-align: center">
  <p><span style=" font-variant: small-caps;">Le Bantoum
 Exotique se situe au 35 grand-rue B-6700 Arlon &#9474;<br> Nous répondons au
Gsm&nbsp;:&nbsp;</span><span style=" font-variant: small-caps;">0032
(0)</span><span style=" font-variant: small-caps;">486
59 07 48 &#9474; E-mail&nbsp;: <a href="mailto:bantoumexotique@hotmail.fr" style="color: darkmagenta;">bantoumexotique@hotmail.fr</a>
    &#9474;</span><br>
<span style=" font-variant: small-caps;">Nous vous accueillons
  du Lundi au Samedi de 10 &agrave; 18h &amp; premier Dimanche du mois de 10 à 19h</span></p></div>
 <!-- <iframe
    width="600"
    height="500"
    src="https://mapfeedback.here.com?app_id=IvvyZaj0rIf60wHOBxPX&
  app_code=HQd2mlk7WbsvShlM8qpMDs6ZYj61by3IlHEOVWHVLlU&[attribute=value]">
  </iframe>-->
  <div style="width: 640px; height: 480px; " id="mapContainer" class="container"></div>
  <div class="" style="text-align: center">
  <h3 style=" font-variant: small-caps;">Vous pouvez aussi nous laisser un message en remplissant ce formulaire: </h3>
  </div>
  <div class="container">
    <form  [formGroup]="signUpForm" (ngSubmit)="onSubmit()" name="contact">
      <input name="fuel_csrf_token" value="8b81c4dd84a3cf6aff4ec01bd87bb1077f068e96f6bd9f3b8a85e857eaa0bdae81d96e6238479fa87d6039f915dc040f2605e4e9627b0566de7d8ba91f242f46" type="hidden" id="form_fuel_csrf_token" />

          <div class="form-group">
            <label for="form_name">Nom Complet: </label><br>
            <input class="form-control " formControlName="name" value="" type="text" id="form_name" />					</div>
          <div class="form-group">
            <label for="form_email">Email:  </label><br>
            <input class="form-control" placeholder="Votre émail" type="email" formControlName="email" value="" id="form_email" />					</div>
      <div class="form-group">
        <label for="form_subject">Sujet:  </label><br>
        <input class="form-control" formControlName="subject" value="" type="text" id="form_subject" />			</div>
      <div class="form-group">
        <label for="form_message">Message:  </label>
        <textarea class="form-control" rows="8" formControlName="message" id="form_message"></textarea>			</div>
      <!-- <div class="form-group">
         <div class="alert alert-danger alert-dismissible is-robot hidden" role="alert">
           <strong><span class="editableLabel" labelid="global:verify_not_robot">Veuillez vérifier que vous n'êtes pas un robot.</span></strong>
         </div>
         <div class="g-recaptcha" data-sitekey="6Ld6_9MUAAAAAORcJDrqVDhnDbM52ychHIdFo-VJ"></div>
       </div>-->
       <div class="g-recaptcha" data-sitekey="6LdnTuEUAAAAANG_lJNdwF9SG_4KmIhgRArWdX0D"></div>
      <!--<re-captcha (resolved)="resolved($event)" siteKey="6LdnTuEUAAAAANG_lJNdwF9SG_4KmIhgRArWdX0D"></re-captcha>-->
      <div class="form-group">
        <button type="submit" [disabled]="signUpForm.invalid">Envoyer le message</button>
      </div>
    </form>
  </div>
</div>
