<div class="total">
  <div class="container">
    <h3>Diverses Infos.</h3>
    <h4><span style=" font-variant: small-caps; color: #1D62F0;">Le Bantoum Exotique </span></h4>
    <p>Sur cette page, nous publierons assez regulièrement les dernières
      infos concernant notre magasin et nos arrivages de produits de saisons.<br>
      <br>
      En ce moment, nous avons reçu de merveilleuses grappes de piments frais de cette
      nouvelle saison, n'hésitez pas à faire un tour dans nos rayons.
      <span style=" font-variant: small-caps; color: #1D62F0;">publié le 15 Mars 2020. </span><br>
     </p>
  </div>
</div>
