<div class="carousel slide" id="slider" data-ride="carousel">
  <!-- indicators-->
  <ol class="carousel-indicators">
    <li data-target="#slider" data-slide-to="0" class="active"></li>
    <li data-target="#slider" data-slide-to="1"></li>
    <li data-target="#slider" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        alt="Magasin africain Arlon Bantoum Exotique"
        src="../assets/img/aliment1.jpg">
      <div class="carousel-caption">
        <h4>Des tubercules aux épices, </h4>
        <p>du grignotage aux boissons!</p>
      </div>
    </div>

    <div class="carousel-item" id="slide2">
      <img
        alt="Magasin africain Arlon Bantoum Exotique"
        src="../assets/img/aliment9.jpg">
      <div class="carousel-caption">
        <h4>Des produits frais de l'Afrique</h4>
        <p>Toute l'année!</p>
      </div>
    </div>

    <div class="carousel-item" id="slide3">
      <img src="../assets/img/aliment3.jpg">
      <div class="carousel-caption">
        <h4> <span style=" font-variant: small-caps; color: #1D62F0;">Le Bantoum Exotique...</span></h4>
        <p><span style="color: black;">Une invitation au partage</span><span style="color: #1D62F0; font-weight: bold;">
          des saveurs africaines!</span></p>
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container-fluid">
  <div class="row" id="salut11">
    <div class=" col-lg-4  col-sm-4  col-md-4 offset-xs-2 col-xs-4 offset-xl-1  col-xl-4" >
      <img class="imagez" src="../assets/img/aliment7.jpg" alt="">
    </div>
    <div class=" offset-sm-4 col-xs-4 offset-md-4 col-sm-4 col-md-4 offset-lg-3 col-lg-4 offset-xl-2 col-xl-4">
      <p class="salut111">Vous avez envie de connaître toutes les saveurs de l’Afrique sans
        quitter Arlon ? Grâce à notre magasin africain  <span style=" font-variant: small-caps; color: #1D62F0;">Le Bantoum Exotique</span>,
        situé à sur la Grand Rue, c’est possible !
        Chez nous, vous trouverez les aliments nécessaires à la confection de vos plats.
        Nous disposons d’un grand assortiment de produits frais à votre disposition.
        Notre passion est de faire connaître et apprécier des produits de qualité,
        à condition que ces produits respectent les règles du commerce équitable,
        en provenance – au départ – d’Afrique et de l’Océan Indien mais aussi,
        d’un peu partout dans le monde. <br>
      </p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row" id="salut12">
    <div class="offset-xs-2 col-xs-4 offset-sm-0 col-sm-4 offset-md-2 col-md-4 offset-lg-2 col-lg-4 offset-xl-2 col-xl-4">
      <p class="salut111">Tous les types de produits africains sont en vente au<br>
        <span style=" font-variant: small-caps; color: #1D62F0;"> Bantoum Exotique</span>:<br>
        alimentation ;<br>
        fruits et légumes ;<br>
        boissons ;<br>
        graines ;<br>
        produits d’épicerie.<br>
        Ainsi, vous trouverez toujours ce dont vous avez besoin au sein de notre épicerie africaine. </p><br>
      <a class="button-flip" (click)="voirRecette()">
        <span class="button-flip-face">Nous contacter</span>
        <span class="button-flip-face-back">Allons-y</span>
      </a><br><br>
      <p> <span style=" font-variant: small-caps; color: #1D62F0;">Le Bantoum Exotique  ,</span>
        Une selection de produits frais africains de qualité supérieure...</p>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <img class="imagez" src="../assets/img/aliment2.jpg" alt="">
    </div>
  </div>
  <div class="row justify-content-center" id="salut13">
    <p>Votre vivez hors de Belgique?  Nous sommes aussi là pour vous!!!<br>
      <span style=" font-variant: small-caps; color: #1D62F0;">Le Bantoum Exotique  ,</span>
      Une selection de produits frais africains de qualité supérieure...</p>
  </div>
</div>


