<div class="carousel slide" id="slider" data-ride="carousel">
  <!-- indicators-->
  <ol class="carousel-indicators">
    <li data-target="#slider" data-slide-to="0" class="active"></li>
    <li data-target="#slider" data-slide-to="1"></li>
    <li data-target="#slider" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        alt="Magasin africain Arlon Bantoum Exotique"
        src="../assets/img/cosmet5.jpg">
      <div class="carousel-caption">
        <h4>Des parfums spécialement sélectionnés</h4>
        <p>de marques internationales!</p>
      </div>
    </div>

    <div class="carousel-item" id="slide2">
      <img
        alt="Magasin africain Arlon Bantoum Exotique"
        src="./assets/img/cosmet9.jpg">
      <div class="carousel-caption">
        <h4>Des tresses africaines</h4>
        <p>de qualité supérieure!</p>
      </div>
    </div>

    <div class="carousel-item" id="slide3">
      <img
        alt="Magasin africain Arlon Bantoum Exotique"
        src="../assets/img/cosmet4.jpg">
      <div class="carousel-caption">
        <h4> <span style=" font-variant: small-caps; color: #1D62F0;">Le Bantoum Exotique...</span></h4>
        <p>Votre satisfaction est notre passion!</p>
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container-fluid">
  <div class="row" id="salut11">
    <div class=" col-lg-4  col-sm-4  col-md-4 offset-xs-2 col-xs-4 offset-xl-1  col-xl-4" >
      <img class="imagez" src="../assets/img/cosmet10.jpg" alt="Magasin africain Arlon Bantoum Exotique">
    </div>
    <div class=" offset-sm-4 col-xs-4 offset-md-4 col-sm-4 col-md-4 offset-lg-3 col-lg-4 offset-xl-2 col-xl-4">
      <p class="salut111"> Notre concept store s'articule sur trois zones : les produits<br>
        dits de plaisir, les produits dits de bien-être et les produits<br>
        du quotidien. Le meilleur des produits de soin est disponible
        chez<span style=" font-variant: small-caps; color: #1D62F0;"> Bantoum Exotique</span>.<br>
        Pour le visage, comme pour le corps, un large choix de produits s’offre à vous
        pour s'adapter au mieux à vos besoins. Profitez de notre expertise pour un diagnostic personnalisé,
        une recommandation de soins et les meilleures astuces pour révéler votre beauté.<br>
        Venez au<span style=" font-variant: small-caps; color: #1D62F0;"> Bantoum Exotique</span>, vous brillerez de mille feux.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row" id="salut12">
    <div class="offset-xs-2 col-xs-4 offset-sm-0 col-sm-4 offset-md-2 col-md-4 offset-lg-2 col-lg-4 offset-xl-2 col-xl-4">
      <p class="salut111">Revellez la beauté de vos cheveux grace à notre expertise;<br>
        Notre promesse : une recherche continue des dernières techniques et tendances en coiffure,<br>
        et ce dans tous les domaines du métier.<br>
        Demandez votre devis gratuit au  <span style=" font-variant: small-caps; color: #1D62F0;"> Bantoum Exotique</span>
        et offrez-vous une coiffure de rêve en toute occasion. </p><br>
      <a class="button-flip" (click)="voirRecette()">
        <span class="button-flip-face">Demander un devis gratuit</span>
        <span class="button-flip-face-back">Allons-y</span>
      </a><br><br>
      <p> <span style=" font-variant: small-caps; color: #1D62F0;">Le Bantoum Exotique  ,</span>
        la passion de l'esthétique de haut niveau...</p>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <img class="imagez" src="../assets/img/meches5.jpg" alt="">
    </div>
  </div>
  <div class="row justify-content-center" id="salut13">
    <p>Vous vivez hors de Belgique?  Nous sommes aussi là pour vous!!!<br>
      <span style=" font-variant: small-caps; color: #1D62F0;">Le Bantoum Exotique  ,</span>
      la passion de l'esthétique de haut niveau...</p>
  </div>
</div>


